.cards-header {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
    background-color: lightgrey;
    border: groove;
}

.card-row {
    border: groove;
}

.card-cell {
    border: groove;
    font-size: 1.1rem;
}

.card-cell-error {
    color: red;
}

input {
	font-family: sans-serif;
}