/* .css-1q1u3t4-MuiTableRow-root {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
    background-color: lightgrey;
}

.css-1ndpvdd-MuiTableCell-root {
    font-size: 1.1rem;
}

.css-1yhpg23-MuiTableCell-root {
	border: groove;
	font-size: 1.1rem;
}

.css-34nofg-MuiTableRow-root:last-child td, .css-34nofg-MuiTableRow-root:last-child th {
    border: groove;
	font-size: 1.1rem;
}

.css-1ndpvdd-MuiTableCell-root {
	border: groove;
	font-size: 1.1rem;
} */

.cards-header {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
    background-color: lightgrey;
    border: groove;
}

.card-row {
    border: groove;
}

.card-cell {
    border: groove;
    font-size: 1.1rem;
}

input {
	font-family: sans-serif;
}